<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util.xsd">

  <context:component-scan base-package="com.thangamfrm.recurly.rest" />

  <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
    <constructor-arg ref="httpClientFactory"/>
    <property name="messageConverters"> 
      <list> 
	    <bean class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter"> 
		  <property name="marshaller" ref="jaxbMarshaller"/> 
		  <property name="unmarshaller" ref="jaxbMarshaller"/> 
	    </bean> 
		<bean class="org.springframework.http.converter.FormHttpMessageConverter"/>
		<bean class="org.springframework.http.converter.StringHttpMessageConverter"/> 
	  </list> 
    </property>
    <property name="errorHandler" ref="recurlyErrorHandler" />
  </bean>

  <bean id="recurlyErrorHandler" class="com.thangamfrm.recurly.rest.RecurlyResponseErrorHandler"/>

  <bean id="httpClientParams" class="org.apache.commons.httpclient.params.HttpClientParams"> 
    <property name="authenticationPreemptive" value="true"/> 
    <property name="connectionManagerClass" value="org.apache.commons.httpclient.MultiThreadedHttpConnectionManager"/> 
  </bean> 
    
  <bean id="httpClient" class="org.apache.commons.httpclient.HttpClient"> 
	<constructor-arg ref="httpClientParams"/> 
  </bean>

  <bean id="httpClientFactory" class="org.springframework.http.client.CommonsClientHttpRequestFactory"> 
    <constructor-arg ref="httpClient"/> 
  </bean> 
    
  <bean id="jaxbMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller"> 
	<property name="classesToBeBound"> 
	  <list> 
	    <value>com.thangamfrm.recurly.jaxb.Plans</value>
	    <value>com.thangamfrm.recurly.jaxb.Plan</value> 
	  </list> 
    </property> 
  </bean>

  <bean id="planClient" class="com.thangamfrm.recurly.rest.PlanClient"/> 

  <util:properties id="recurlyAPIProperties" location="classpath:recurlyAPI.properties" local-override="true" />

</beans>
